body{
  font-family: Lucida Sans;

  }
  .section{
    padding: 20px 0;
  }
  .overlay{
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
  
  }
  .line{
    width: 150px;
    background: #ddd;
    height: 2px;
    margin: auto;

  }
  .section-header .section-title{
    font-size: 40px;
  }
  .section-header  .line span{
    display: block;
    width: 100px;
    height: 4px;
    background-color: #7cb62f;
    margin: auto;
    position: relative;
    bottom: 2px;
  }
  .section-header p{
    width: 50%;
    color: #888;
    line-height: 1.5;
    margin: 20px auto;
  }
  @media (max-width:575px){
    .section-header p{
      width: 80%;
    }
  }
  header{
    height: auto;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
  }
 
  
  header i.icon{
  position: absolute;
  right: 30px;
  top:32px;
  cursor: pointer;
  z-index: 10;
  display: none;
  }
  .logo{
    display: inline-flex;
    float: left;
  }
  header .logo h2{
    font-size: 35px;
    color: #fff;
    text-align: left;

  }
  
  header nav .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    color: #000;
  
  }
  
  header nav .nav-list .list a{
  display: block;
  padding: 15px 0;
  margin: 9px 0;
  text-decoration: none;
  color: #000;
  font-size: 18px;

  transition: all 0.3s ease-in-out;
  
  }
  .bold{
    font-weight: bold;
  }
  
  header nav .nav-list .list a:hover{
    color: #7cb62f;
  
  }
  .side .nav-list {
    margin-top: 20px;
    list-style: none;
    justify-content: space-around;
    margin-bottom: 0;
    color: #000;
  
  }
  
  .side .nav-list .list a{
  display: block;
  padding: 9px 0;
  margin: 9px 0;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-size: 20px;

  transition: all 0.3s ease-in-out;
  
  }
  
  
.side .nav-list .list a:hover{
    color: #fff;
  
  }
  .sticky{
    background: #000;
    box-shadow: 0 2px 10px 0 #000;

  }

  .sticky .logo h2{
    color: #fff;
  }
  .sticky a{
    color: #fff;
  }

  .hh{

    background: #fff;
    width: 50px;
    height: 50px;
    /* padding-top: 5%; */
    /* font-size: 2.4rem; */
    /* text-align: center; */
    border-radius: 50%;
    border: 2px solid #da2b2b;
    transition: all 0.3s ease-in-out;
    /* margin-bottom: -40px; */
    /* display: block; */
    margin-right: 12px;
    margin-top: 1.5rem;
  }

  .conttt{
    position: fixed;
    right: 0rem;
    min-height: 100vh;
    background: rgb(230, 229, 240);
    width: 15.4vw;
    float: right;
    font-family: 'cairo';
    z-index: 3;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cont::-webkit-scrollbar {
    display: none;
}
.sidebar {
  width: 15vw;
  position: absolute;
  top: 0rem;
  right: 0rem;
  padding-top: 1rem;
  color: white;
  display: flex;
  background-color: #da2b2b;
  flex-direction: column;
  font-size: 1vw;
  height: 100vh;
}

  .sidebar__header {
    position: absolute;
    top: 0rem;
    right: 4.5rem;
    color: orange;
    margin-top: 1.4rem;
    font-family: 'cairo';

}
.sidebar__bar {
  margin-top: 6vw;
  margin-right: 2rem;
  text-align: right;
  display: flex;
  flex-direction: column;
  height: 100vh;
  line-height: 2vh;
}

.sidebar__links {
  margin: .6rem .8rem .6rem 1.6rem;
  text-decoration: none;
  color: white;
}




 
  .sticky nav .nav-list .list a{
    color: #da2b2b;
  }
  
  @media (max-width:575px){
    header{
      background: #000;
    }
  
    header .logo{
      text-align: center;
    }
    header nav .nav-list{
      display: block; 
      padding: 0;
      text-align: center;
    }
    header i.icon{
      display: block;
  
    }
  }
  
  
  




























  .home{
    height: 600px;
    background-image: url(../6.png);
    background-size: cover;
    background-position: center;
    position: relative;
    
  }
  .home .home-content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%)
  
  }
  .home .home-title{
    color: #fff;
    font-size: 45px;
    margin-bottom: 20px;
  
  }
  .home .home-desc{
    color: #ddd;
    font-size: 18px;
  }
  .home .button{
    background: #7cb62f;
    color: #fff;
    width: 150px;
    text-align: center;
    padding: 10px 0;
  }
  @media (max-width:575px){
    .home .home-title{
      font-size: 25px;
    }
    .home .button{
      margin-bottom: 10px;
    }
      
  }



  /*about*/
  .about .about-info h3{
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;

  }
  .about .about-info h3 span{
    color: #7cb62f;
  }
  .about .about-info .about-info-desc{
    line-height: 1.8;
    color: #888;
    margin-bottom: 20px;
    text-align: right;


  }
  .about .about-info .about-info-btn{
    background-color: #7cb62f;
    padding: 10px 20px;
    border: 0;
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .about .about-img img{
    width: 100%;
  }
  @media (max-width:575px){
    .about .about-info h3{
      font-size: 20px;
    }
  }
  @media (min-width:575px) and (max-width:768px){
    .about .about-info{
      text-align: center;
    }
  }
  
  
/*ggggggggggggggggggg*/

.side .serv{
  background: #da2b2b;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
transition: all 0.3s ease-in-out;
width: 100px;
height: 150px;;
}

/*ggggggggggggggggggg*/



  .services{
    background: #f7f7f7;
  }
  .services .serv{
    background: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
transition: all 0.3s ease-in-out;
  }
  .services .serv i.icon{
    background: #7cb62f;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #f6f6f6;
    transition: all 0.3s ease-in-out;


  }
  .services .serv-title{
    transition: all 0.3s ease-in-out;

    color: #777;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
  }
  /* .services .serv-desc{
    transition: all 0.3s ease-in-out;

    font-size: 17px;
    color: #888;
    margin-bottom: 20px;
    
  } */
  .services .serv:hover{
    background: #7cb62f;
  }
  .services .serv:hover i.icon{
    background: #fff;
    color: #7cb62f;
  }
  .services .serv:hover .serv-title,
  .services .serv:hover .serv-desc{
    color: #fff;
  }
/*JHH*/
.stat{
  background-image: url(../بب.png);
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.stat .state-info{
  margin: 50px 0;
  text-align: center;
}
.stat .state-info i, .stat .state-info span{
  display: block;
  margin: auto;
  margin-bottom: 15px;
  color: #fff;
}
.stat .state-info i{
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #7cb62f;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
}
.stat .state-info span.time{
  font-size: 20px;

}
.stat .stat-info-title{
  text-transform: capitalize;
font-size: 20px;
}
@media(max-width:991px){
  .stat{
    height: 900px;
  }
}
/**/
.porto .buttons{
  width: 60%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}
.porto .buttons button{
  width: 100px;
  background: #333;
  border: 0;
  padding: 10px;
  color: #fff;
  outline: 0;
}
.porto .images > div {
  margin-bottom: 20px;
}
.porto .images > div img{
  width: 100%;
  
}
.porto .more{
  width: 250px;
  background: #333;
  border: 0;
  color: #fff;
  margin: auto;
  display: block;
  padding: 10px;
  outline: 0;
}
.active-btn{
  background: #7cb62f !important;

}
.clear{
  clear: both;
}
/**/
.exper{
  background: #4c4c4c;
}
.exper .section-title{
  color: #fff;
}
.exper .progress-content{
  margin-top: 20px;
}
.exper .progress{
  width: 150px;
  height: 150px;
  background: none;
  box-shadow: none;
  margin: 0 auto;
  position: relative;
}
.exper .progress > span{
  position: absolute;
  width: 50%;
  height: 100%;
  top:0;
  overflow: hidden;
  z-index: 2;
}
.exper .progress .progress-value{
  position: absolute;
  width: 90%;
  height: 90%;
  top:5%;
  left: 5%;
  border-radius: 50%;
  font-size: 25px;
  text-align: center;
  color: #fff;
  background:none;
  line-height: 135px;
}
.exper .progress .progress-left{
  left: 0;
}
.exper .progress .progress-right{
  right: 0;
}
.exper .progress .progress-bar{
  position: absolute;
  width: 100%;
  border-width: 10px;
  background: none;
  border-style: solid;
  height: 100%;
}
.exper .progress.blue .progress-bar{
  border-color: #049dff;
}
.exper .progress.yellow .progress-bar{
  border-color: #fdba04;
}
.exper .progress .progress-left .progress-bar{
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  transform-origin: left;
}
.exper .progress .progress-right .progress-bar{
  right: 100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  transform-origin: right;
  animation: load1 1.8s linear forwards;
}
.exper .progress.blue .progress-left .progress-bar{
  animation: load2 1.5s linear forwards 1.8s;

}
.exper .progress.yellow .progress-left .progress-bar{
  animation: load3 1s linear forwards 1.8s;

}
@keyframes load1 {
  0%{
    transform: rotate(0);
    
  }
  100%{
    transform: rotate(180deg);
  }
}
@keyframes load2 {
  0%{
    transform: rotate(0);
    
  }
  100%{
    transform: rotate(144deg);
  }
}
@keyframes load3 {
  0%{
    transform: rotate(0);
    
  }
  100%{
    transform: rotate(90deg);
  }
}
.exper .title{
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;

}

/**/
.pricing{
  background: #f7f7f7;
}
.pricing .plan{
  text-align: center;
  background: #fff;
  transition: all 0.5s ease-in-out;

}
.pricing .plan .plan-title{
  background: #252525;
  color: #fff;
  padding: 10px 0;
  transition: all 0.5s ease-in-out;
}
.pricing .plan .plan-title span{
  display: block;
  margin-bottom: 5px;
}
.pricing .plan .plan-title .price{
  font-size: 35px;
  font-weight: bold;
}
.pricing .plan .plan-title .title{
  font-size: 15px;
  font-weight: normal;
}
.pricing .plan .pl-desc{
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  margin-bottom: 10px;
}
.pricing .plan ul li{
  padding: 10px;
}
.pricing .plan .plan-btn{
  background: #252525;
  border: 0;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
/* .pricing .plan:hover{
  margin-top: -10px;
} */
.pricing .plan:hover .plan-title,
.pricing .plan:hover .plan-btn{
  background: #7cb62f;
}
/**/
.team .team-info{
  text-align: center;
}
.team .team-info .team-info-title{
  margin: 5px 0;
}
.team .team-info .team-info-desc{
  display: block;
  margin-bottom: 5px;
}
.team .team-info img{
  height: 300px;
}
.team .team-info .team-info-social{
  position: relative;
  background: #252525;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  color: #fff;
}
.team .team-info  .team-info-social i{
  position: relative;
  z-index: 15
}
.team .team-info  .bg{
  display: block;
  position: absolute;
  width:0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.5s ease-in-out;
}
.team .team-info:hover .bg{
  width: 100%;
  background: #7cb62f;
}
.bus{
  background: url(../ق.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 250px;
  color: #fff;
}
.bus .bus-info{
  margin: 40px 0;
}
.bus .bus-info .bus-title{
font-size: 35px;
}
.bus .bus-info .bus-desc{
  width: 60%;
  margin: auto;
  margin-bottom: 15px;
  font-size: 20px;
  color: #aaa;

}
.bus .bus-info .bus-btn{
  padding: 10px 20px;
  border: 0;
  background: #7cb62f;
  margin-bottom: 10px;
}
@media (max-width:968px){
  .bus{
    height: 300px;
  }
  .bus .bus-info .bus-title{
    font-size: 25px;
  }
  .bus .bus-info .bus-desc{
    width: 80%;
    font-size: 18px;
  }
}




.choose{
  background: #f7f7f7;
}
.choose .c_panel ul{
background: #333;
color: #fff;
display: flex;
margin: 0;
padding: 0;
}
.choose .c_panel ul li{
  padding: 15px 20px;
  cursor: pointer;
}
.choose .c_panel .contact{
  background: #fff
}
.choose .c_panel .contact .c-info{
  border: 1px solid #ccc;
  padding: 10px;
}
.choose .c_panel .contact .c-info img{
  width: 40%;
  float: left;
  padding-right: 10px;
}
.choose .c_panel .contact .c-info p{
  padding: 10px;
  color: #888;
  line-height: 1.5
}
.choose .c_panel .contact .contact2,
.choose .c_panel .contact .contact3{
  display: none;
  
}
.choose .video{
  background: #636363;
  padding: 135px 0;
  text-align: center;
  color: #fff;
}
.choose .video i{
  background: #f00;
  color: #fff;
  padding: 15px;
}











.test{
  background-color: #333;
}
.test .section-header{
  color: #fff;
}


.test .test-info{
  text-align: center;
  background-color: #141414;
  padding: 20px 10px;
  color: #fff;

}
.test .test-info img{
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  border: 2px solid #000;
  margin: auto;
}
.test .test-info .test-info-title{
font-size: 20px;
margin-bottom: 10px;
}
.test .test-info .test-info-span{
color: #999;
display: block;
margin-bottom: 10px;
}
.test .test-info i{
  color: #f2b100;
  margin-bottom: 10px;

}














.blog .blog-info{
  text-align: left;
  margin-bottom: 10px;
}
.blog .blog-info img{
  width: 100%;
}
.blog .blog-info span{
  padding-right: 10px;
  color: #888;
}
.blog .blog-info span i{
  color: #7cb62f;
  padding-right: 10px;
}
.blog .blog-info .blog-desc{
  color: #888;
}
.blog .blog-info .blog-btn{
  border: 0;
  padding: 10px 20px;
  color: #fff;
  background: #7cb62f;
}












.ple{
  background: #333;
  color: #fff;
  padding: 100px 0;

}
.ple .ple-info i{
  color: #7cb62f;
  margin-bottom: 10px;
  font-size: 40px;
}
.ple .ple-info  .ple-desc{
  margin-bottom: 10px;
  color: #ddd;
  margin: auto;
  width: 60%;
}
.ple .ple-info  .ple-desc span{
  color: #7cb62f;
}
.ple .ple-info .pl-text{
  font-style: italic;
  color: #ddd;
}


.next{
  background: #7cb62f;
}
.next .next-desc{
  font-size: 25px;
  color: #fff;
  margin-top: 7px;
  text-align: right;
  margin-right: 96px;
}
.next .next-btn{
  background: #333;
  font-size: 20px;
  padding: 10px 20px;
  color: #fff;
  outline: 0;
  border: 0;

}

@media (max-width:768px){
  .next{
text-align: center;
  }
  
}











.conta{
  background: #f2f2f2;
}
.conta .contact-info .contact-desc{
color: #888;
line-height: 1.6;
}
.conta .contact-info span{
  margin-bottom: 10px;
  display: block;

}
.conta .contact-info{
  display: grid;
}
.conta .contact-info span i{
border: 1px solid #7cb62f;
width: 40px;
height: 40px;
text-align: center;
line-height: 40px;
border-radius: 50%;
margin-right: 10px;
margin-left: 10px;

color: #7cb62f;
float:right;
}
.conta .contact-info span:hover i{
  color: #fff;
background: #7cb62f;
}
.conta form .form-group{
  display: flex;
}
.conta form .form-control:focus{
  border-color: #888;
}
.conta .form-btn{
  background: #7cb62f;
  border: none;
  padding: 10px 20px;
  margin:10px  auto;
  font-size: 20px;
  color: #fff;
  display: block;
  outline: none;
}
@media(max-width:575px){
  .conta form .form-group{
    display: block;
  }
  .conta form .form-group input{
    margin-bottom: 10px;
  }

}



















footer{
  background: #333;
  color: #888;
}

footer h3{
  border-bottom: 1px solid #888;
  padding-bottom: 5px;
  color: #fff;
  margin-bottom: 30px;
}
footer .fo-ic{
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px !important;
  color: #fff;
}
footer .fo-ic:nth-of-type(1){
  background: #3b5998;
}
footer  .fo-ic:nth-of-type(2){
  background: #55acee;
}
footer  .fo-ic:nth-of-type(3){
  background: #dd4b39;
}

footer  .fo-ic:nth-of-type(4){
  background: #ff0000;
}

footer  .fo-ic:nth-of-type(5){
  background: #007bb5;
}
footer ul  li{
  padding: 10px 0;
  color: #fff;
  border-bottom: 1px solid #f7f7f7;
}

footer button{
  padding: 5px 10px;
  background: #696969;
  border: 0;
  color: #f7f7f7;
  margin: 5px;
}
footer img{
  width: 70px;
  height: 70px;
  border: 1px solid #888;
  padding: 1px;
}

.copy{
  background: #232323;
  color: #fff;
}
.copy p, .copy-desc ,.copy ul{
  margin: 0;
}
.copy .copy-desc i{
color: #7cb62f;

}
.copy ul{
  display: flex;
  justify-content: space-around;
}
.copy ul li{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.copy ul li:hover{
color: #7cb62f;
}
@media(max-width:575px){
  .copy ul{
    display: block;
  }
}






.scrollTob{
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #7cb62f;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: none;
  cursor: pointer;

}




















































































































































































































































































































































